*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
}


body{
    background-color: antiquewhite;
}

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 0.6;
}


header{
    background-color: rgb(2, 2, 141);
    padding: 25px;
    align-items: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 1px 10px 1px;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.links-filhos{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none; 
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

#btu{
    color: white;
    text-decoration: none;
}

.btn{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.buttom-header{
    color: white;
    background-color: rgb(0, 225, 0);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}

.buttom-header:active{
    opacity: 0.5;
}

.buttom-header:hover{
    opacity: 0.7;
}

.container-section{
    font-weight: 400;
    display: flex;
}
