*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-image: url('https://i.pinimg.com/736x/c1/d3/a1/c1d3a15ac9629e3eec08a551a8ad58c2.jpg');
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
  }
  
  body::before {
    content: "";
    position: fixed; /* Garante que cubra toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('caminho-da-imagem.jpg'); /* Adiciona a imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Aplica a opacidade */
    z-index: -1; /* Faz com que fique atrás do conteúdo */
  }

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 0.6;
}


header{
    background-color: rgb(2, 2, 141);
    padding: 25px;
    align-items: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 1px 10px 1px;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.links-filhos{
    font-size: 28px;
    font-weight: 500;
    text-decoration: none; 
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

#btu{
    color: white;
    text-decoration: none;
}

.btn{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.buttom-header{
    color: white;
    background-color: rgb(0, 225, 0);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}

.buttom-header:active{
    opacity: 0.5;
}

.buttom-header:hover{
    opacity: 0.7;
}

.container-section{
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

.paragrafos{
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: justify;
    margin-bottom: 15px;
} 

#textos{
    background-color: rgba(0, 0, 0, 0.866);
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin-left: 70px;
    font-weight: 300;
}

.h1-section{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
    padding: 12px;
    color: white;
    border-radius: 10px;
}
