*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/736x/c1/d3/a1/c1d3a15ac9629e3eec08a551a8ad58c2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('caminho-da-imagem.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; 
    z-index: -1;
  }

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 0.6;
}


header{
    background-color: rgb(2, 2, 141);
    padding: 25px;
    align-items: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 1px 10px 1px;
    position: static;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.links-filhos{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none; 
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 15px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

#btu{
    color: white;
    text-decoration: none;
}

.btn{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.buttom-header{
    color: white;
    background-color: rgb(0, 225, 0);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}

.container-section{
    background-color: rgba(128, 128, 128, 0.181);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
    margin-bottom: 0;
}

.perfil{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 20px;
    border-radius: 40px;
    margin: 0 10px;
}

img{
    height: 500px;
    border-radius: 30px;
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
}

.texto{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.622);
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.833);
}

#biografia{
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
}

.contatos{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.linkedin{
    margin-bottom: 10px;
}

.github{
    margin-bottom: 10px;
    
}

.email{
    margin-bottom: 10px;
}

#img-linkedin{
    height: 50px;
}

#img-github{
    height: 50px;
}
#email{
    height: 50px;
}

#em{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 300;
}

footer{
    background-color:rgb(2, 2, 141);
    color: white;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 0 2px 0px color(srgb 0, 0, 0);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}